* {
  position: relative;
  box-sizing: border-box;
}
::selection {
  background-color: var(--color-font);
  color: var(--color-bg);
}
html,
body {
  font-family: var(--font-family);

  color: var(--color-font);
  background: var(--color-bg);

  font-size: var(--font-size-reg);
  line-height: var(--line-height);
  font-weight: var(--font-weight-reg);
}

section + section {
  margin-top: 3rem;
}
a {
  color: var(--color-font-bright);
  text-underline-offset: 4px;
  text-decoration: underline;
  text-decoration-color: var(--color-font-med-dark);
}
a:hover {
  color: var(--color-font-very-bright);
  text-decoration-color: var(--color-font-bright);
}
i {
  font-style: italic;
}
p + p {
  margin-top: 1em;
}
h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: calc(var(--line-height) * 3);
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: calc(var(--line-height) * 2);
}
h3 {
  font-weight: 500;
  margin-bottom: calc(var(--line-height) / 2);
  letter-spacing: 0.03em;
  color: var(--color-font-bright);
}
h4 {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-tiny);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: var(--line-height);
  line-height: calc(var(--line-height) / 2);
}

code {
  background: var(--color-tetris-grid);
  display: inline-block;
  padding: 3px 5px;
  border-radius: 2px;
  line-height: 1;
  font-family: var(--font-family-mono);
  margin: 0 2px;
}

#wrapper {
  padding: var(--grid-gap);
}

.note {
  color: var(--color-font-med-dark);
  font-weight: 600;
  font-size: var(--font-size-tiny);
  vertical-align: 0.5em;
  display: inline-block;
}
.footnoteLabel a {
}
.footnoteLabel sup {
  display: none;
  color: var(--color-font-med-dark);
  font-weight: 600;
  font-size: var(--font-size-tiny);
  margin: 0 0.2em;
}
.footnote {
  font-size: var(--font-size-small);
  color: var(--color-font-med);
  max-width: 320px;
  line-height: calc(var(--line-height) * 0.66);
  letter-spacing: 0.03em;
}
.footnote.isHovering {
  color: var(--color-font-bright);
}
.footnoteNumber {
  display: none;
  color: var(--color-font-bright);
  margin-left: -3em;
  margin-right: 0;
  width: 2.6em;
}
.footnoteBacklink {
  display: none;
  width: 18px;
  height: 18px;
  line-height: 1;
  border: none;
  text-align: center;
  border-radius: 2px;
  background: var(--color-tetris-grid);
  color: var(--color-font);
  vertical-align: 3px;
  text-decoration: none;
}
.footnoteBacklink:hover {
  color: var(--color-font-bright);
  background: var(--color-bg-light);
}

/* Sections */
section {
}

/* Footer */
footer {
  font-size: var(--font-size-med);
  line-height: calc(var(--line-height) * 0.75);
  margin-top: 3rem;
  color: var(--color-font-med);
}
footer .contentCol {
  padding: 2rem 0;
  border-top: solid 1px var(--color-font-light);
}

footer a {
  color: var(--color-font-med-bright);
}
footer ul {
  margin-top: 1rem;
  font-size: var(--font-size-small);
}
footer ul li {
  margin-bottom: 0.3em;
}
#toggleGrid {
  cursor: pointer;
}
.footerLinks {
  margin-top: 1.5rem;
}
.legal {
  margin-top: 1.5rem;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-tiny);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: var(--color-font-med);
}

/* Base Components */
.moreSoon {
  color: var(--color-font-med-dark);
  font-family: var(--font-family-mono);
  font-weight: 500;
}

.btn {
  text-decoration: none;
  border-radius: 2px;
  background: var(--color-tetris-grid);
  padding: 0.8em 1em;
  border: none;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-tiny);
  text-transform: uppercase;
  color: var(--color-font);
  letter-spacing: 0.1em;
  user-select: none;
}
.btn:hover {
  color: var(--color-font-bright);
  background: var(--color-bg-light);
}
.btn:active {
  background: var(--color-bg-lighter);
}

@media only screen and (max-width: 660px) {
  h1 {
    font-size: 2rem;
  }

  .footnote {
    padding-left: 3em;
    top: initial !important;
    max-width: initial;
  }
  .footnoteNumber,
  .footnoteLabel sup,
  .footnoteBacklink {
    display: inline-block;
  }
}
