* {
  position: relative;
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-font);
  color: var(--color-bg);
}

html, body {
  font-family: var(--font-family);

  color: var(--color-font);
  background: var(--color-bg);

  font-size: var(--font-size-reg);
  line-height: 1.8;
  font-weight: var(--font-weight-reg);
}

a {
  color: var(--color-font-bright);
  text-decoration: none;
  border-bottom: solid 1px currentColor;
}
a:hover {
  color: var(--color-font-bright);
}
i {
  font-style: italic;
}

p + p {
  margin-top: 1em;
}


h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h4 {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-tiny);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#wrapper {
  padding: var(--grid-gap);
  max-width: var(--max-width);
  margin: auto;
}

#gridDisplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, minmax(20px,var(--column-size)));
  gap: var(--grid-gap);
  opacity: 1;
  padding: 0 var(--grid-gap);
  opacity: 0;
  transition: opacity 0.5s;
}
#gridDisplay .col {
  height: 100%;
  border-left: solid 1px var(--color-bg-med);
  border-right: solid 1px var(--color-bg-med);
}
#gridDisplay.show {
  opacity: 1;
}

#game-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin-bottom: 3rem;
}

#tetris-game-mobileControls {
  display: none;
  gap: 10px;
  padding: 1rem 0;
  grid-column: 1;
}
.mobileControl {
  flex: 1;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  background: var(--color-tetris-grid);
  user-select: none;
  grid-column: 1;
}
.mobileControl * {
  user-select: none;
}
.mobileControl:active {
  background: var(--color-font-med-bright);
}

#game-controls {
  padding-left: 2rem;
  grid-column: 2;
  grid-row: 1 / 2;
}
table {
  font-size: 1rem;
  margin: 1rem 0;
  border-collapse: collapse;
}
table tr {
  border-bottom: solid 1px var(--color-font);
}
table tr:last-child {
  border-bottom: none;
}
table td {
  padding: 1em .5em;
  vertical-align: middle;
  font-size: var(--font-size-med);
  font-family: var(--font-family);
  font-weight: var(--font-weight-reg);
}
table td:first-child {
  padding-left: 0px;
  min-width: 6em;
}
table td:last-child {
  padding-right: 0px;
}
.keyPress {
  display: inline-block;
  padding: 0.2em 0.6em 0.1em 0.6em;
  border: solid 1px var(--color-font);
  font-size: var(--font-size-small);
  border-radius: 4px;
}

.moreSoon {
  color: var(--color-font-med);
  font-family: var(--font-family-mono);
  font-size: 0.9rem;
  font-weight: 500;
  margin: 2rem 0;
}

footer {
  font-size: var(--font-size-med);
  margin-top: 3rem;
  padding: 3rem 0;
  border-top: solid 1px var(--color-font-light);
  color: var(--color-font-med);
}
footer a {
  color: var(--color-font-med-bright);
}

footer ul {
  margin-top: 1rem;
  font-size: var(--font-size-small);
}
footer ul li {
  margin-bottom: 0.3em;
}
#toggleGrid {
  cursor: pointer;
}

.columns {
  display: flex;
  gap: var(--grid-gap);
}
.col-2 {
  flex: 2;
}

.footerLinks {
  margin-top: 1.5rem;
}

.legal {
  margin-top: 1.5rem;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-tiny);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: var(--color-font-med);
}

.btn {
  border-radius: 2px;
  background: var(--color-tetris-grid);
  padding: 0.8em 1em;
  border: none;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-tiny);
  text-transform: uppercase;
  color: var(--color-font);
  letter-spacing: 0.1em;
  user-select: none;
}
.btn:hover {
  color: var(--color-font-bright);
  background: var(--color-bg-light)
}


.sliderContainer {
  margin: calc(var(--grid-gap)*3) 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--grid-gap);
  width: var(--full-width);;
  padding: var(--grid-gap);
  margin-left: calc( (var(--column-size) + var(--grid-gap)*2 ) * -1 );
}
.sliderContainer .info {
  height: var(--slide-height);
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
}
.sliderContainer .info .counter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 56px;
  font-family: var(--font-family-mono);
  font-weight: 100;
}
.sliderContainer .info .counter .maxSlides {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-font-med-bright);
}
.sliderContainer .info .controls {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 56px;
  font-family: var(--font-family-mono);
  font-weight: 100;
  line-height: 0.6;
}
.sliderContainer .info .controls img {
  display: block;
  cursor: pointer;
}
.sliderContainer .info .controls img:hover {
  filter: brightness(2.0);
}
.sliderContainer .info .controls img.next {
  display: block;
  transform: scaleX(-1);
}
.sliderContainer .imageContainer {
  height: var(--slide-height);
  background: var(--color-tetris-grid);
  border-radius: var(--grid-gap);
  grid-column: 3 / 7;
  box-shadow: 0px 4px 40px var(--color-tetris-bg);
  overflow: hidden;
}
.sliderContainer .slidesContainer {
  display: flex;
  height: 100%;
  transition: margin-left 0.5s;
}
.sliderContainer .slidesContainer .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: var(--slide-width);
  height: 100%;
}


@media only screen and (max-width: 1360px) {

  #gridDisplay {
    grid-template-columns: 1fr repeat(4, 200px) 1fr;
  }

  .sliderContainer {
    width: 100vw;
    margin-left: calc( (100vw - var(--max-width)) / -2 - var(--grid-gap));
  }
}


@media only screen and (max-width: 946px) {
  #gridDisplay {
    grid-template-columns: repeat(4, minmax(20px,var(--column-size)));
  }
  #gridDisplay .col:nth-child(n+5) {
    display: none;
  }
  .sliderContainer {
    max-width: var(--max-width);
    margin-left: calc( -1 * var(--grid-gap));

    display: flex;
    flex-direction: column-reverse;
  }
  .sliderContainer .imageContainer {
    height: 60vw;
  }
  .sliderContainer .info {
    min-height: 140px;
    height: auto;
    align-items: flex-start;
    padding-right: 120px;
  }
  .sliderContainer .info .counter {
    font-size: 36px;
    top: -0.5em;
  }

}



@media only screen and (max-width: 660px) {
  h1 {
    font-size: 2rem;
  }


  #gridDisplay {
    grid-template-columns: repeat(2, 1fr);
  }
  #gridDisplay .col:nth-child(n+3) {
    display: none;
  }

  #wrapper {
    padding: var(--grid-gap);
  }

  #game-wrapper {
    display: flex;
    flex-direction: column;
  }
  #tetris-game-wrapper {
    display: flex;
    justify-content: center;
  }
  #tetris-game-mobileControls {
    display: flex;
  }
  #game-controls {
    padding-left: 0;
    margin-top: 1rem;
  }
  table {
    width: 100%;
  }

  .columns {
    flex-direction: column;
  }
}

