:root {

  /* fonts */
  --font-family:  'IBM Plex Sans', sans-serif;
  --font-family-mono:  'IBM Plex Mono', monospace;

  --font-size-reg: 17px;
  --font-size-med: 15px;
  --font-size-small: 13px;
  --font-size-tiny: 11px;

  --font-weight-reg: 300;

  /* Sizes */
  --column-size: 200px;
  --grid-gap: 1rem;
  --max-width: calc( var(--column-size)*4 + var(--grid-gap)*5 );
  --full-width: calc( var(--column-size)*6 + var(--grid-gap)*7 );

  --slide-width: 800px;
  --slide-height: 560px;

  /* Tetris Colors */
  --color-tetris-bg: rgb(15, 16, 17); /*#141414;*/
  --color-tetris-block: #FFF;
  --color-tetris-noiseBlock: #F00;
  --color-tetris-grid: rgba(46, 47, 50, 0.88); /*#282828;*/
  --color-tetris-remove: #00f;


  /* Regular Colors */
  --color-bg: var(--color-tetris-bg);
  --color-bg-med: rgb(29, 30, 31);
  --color-bg-light: rgba(59, 60, 63, 0.88);


  --color-font: rgba(255, 255, 255, 0.88); /*#cfcfcf;*/

  --color-font-med: #868787; /*#404040;*/
  --color-font-med-bright: #B1B2B2; /*#696969;*/
  --color-font-light: var(--color-tetris-grid);
  --color-font-bright: #FFF;

}

@media only screen and (max-width: 660px) {

  :root {
    --font-size-reg: 18px;
    --font-size-med: 15px;
    --font-size-small: 13px;
    --font-size-tiny: 10px;
  }

}
