:root {
  /* fonts */
  --font-family: "IBM Plex Sans", sans-serif;
  --font-family-mono: "IBM Plex Mono", monospace;

  --font-size-reg: 17px;
  --font-size-med: 15px;
  --font-size-small: 13px;
  --font-size-tiny: 11px;

  --font-weight-reg: 300;

  --line-height: 28px;

  /* Sizes */
  /*  --column-size: 200px;*/
  --grid-gap: 1rem;
  --max-width: 1280px;
  /*--max-width: calc(var(--column-size) * 4 + var(--grid-gap) * 5);
  --full-width: calc(var(--column-size) * 6 + var(--grid-gap) * 7);*/

  --slide-width: 800px;
  --slide-height: 560px;

  /* Tetris Colors */
  --color-tetris-bg: rgb(15, 16, 17); /*#141414;*/
  --color-tetris-block: #fff;
  --color-tetris-noiseBlock: #f00;
  --color-tetris-grid: rgba(46, 47, 50, 0.88); /*#282828;*/
  --color-tetris-remove: #00f;

  /* Regular Colors */
  --color-bg: var(--color-tetris-bg);
  --color-bg-med: hsl(210, 3%, 11%);
  --color-bg-light: hsla(255, 3%, 23%, 0.88);
  --color-bg-lighter: hsla(255, 3%, 28%, 0.88);

  --color-grid: #f006;

  --color-font: hsl(180, 0%, 77%);
  --color-font-med-dark: hsl(180, 0%, 35%);
  --color-font-med: hsl(180, 0%, 55%);
  --color-font-med-bright: hsl(180, 0%, 65%);
  --color-font-bright: hsl(180, 0%, 85%);
  --color-font-very-bright: hsl(180, 0%, 100%);

  --color-font-light: var(--color-tetris-grid);
}
